registry=https://registry.npmjs.org

# GitHub 下载加速 (ghfast.top 代理)
# Electron 二进制
electron_mirror=https://ghfast.top/https://github.com/electron/electron/releases/download/
# Electron Builder 辅助二进制
electron_builder_binaries_mirror=https://ghfast.top/https://github.com/electron-userland/electron-builder-binaries/releases/download/
# Sharp (libvips 二进制)
sharp_libvips_binary_host=https://ghfast.top/https://github.com/lovell/sharp-libvips/releases/download
# ffmpeg-static 不读 .npmrc，需在 shell 中设置环境变量:
# export FFMPEG_BINARIES_URL=https://ghfast.top/https://github.com/eugeneware/ffmpeg-static/releases/download
